.card{
    width:120px;
    text-align: center;
    padding:10px;
    &:hover{
        box-shadow: 5px 10px 18px #afffdf;
    }
    .card__image{
        width:100%;
        border:1px solid black;
    }
    .card__title{
        font-size: 12px;

    }
    .card__price{
        font-size: 12px;

    }
    .card__btn{
        text-align: left;
        font-weight: 600;
    }
}